.body {
  margin-right: 8px;
}

div {
  background: white;
  margin-top: 5px;
  display: grid;
  grid-template-columns: 160px 5px 1fr 1fr;
  grid-template-rows: 1fr;
   grid-template-areas: "applaunchpad";
   grid-template-areas: "logo vr menu nothing userprofile";
   border-bottom: 2px solid whitesmoke;
}

.logo {
  width: 160px;
  height: 50px;
  background-repeat: no-repeat;
  grid-area: logo;
}

.vr {
  width:2px;
  height:40px;
  margin-top: 5px;
  background-color: whitesmoke;
  grid-area: vr;
}

.menu {
  margin-left: -30px;
}

.menu a {
  color: #6f6f6f;
  text-decoration: none;
  text-transform: uppercase;
  font-family: Lato,sans-serif;
  align-self: center;
  padding: 10px;
  grid-area: menu;
}

.menu a:hover, a:active {
  color: #81a6d7;
}

app-portal-nav-userprofile {
  grid-area: userprofile;
}

.app-launchpad {
  grid-area: applaunchpad;
  margin: 0;
  background-color: whitesmoke;
  border-bottom-color: white;
}
