<div class="topheader">
  <div class="topheader__bar">
    <div class="header">
      <a href="http://www.altusgroup.com/contact" i18n="Contact @@contact">{{contact}}</a>
      <div class="lang-menu">
        <button class="lang-menu__btn" i18n="Language @@language" (click)="changeLang()">
          {{language}}
        </button>
        <!-- <div class="lang-menu__sub-menu">
          <button (click)="changeLang()">
              English
            </button>
            <button (click)="changeLang()">
                Français
            </button>
          <a href="http://www.altusgroup.com/" hreflang="en-US" lang="en-US">English</a>
          <a href="http://www.altusgroup.com/fr/" hreflang="fr-CA" lang="fr-CA">Français</a>
        </div> -->
      </div>
    </div>
  </div>
</div>

<app-portal-navbar> </app-portal-navbar>
